@import './mixin.scss';
$maxw: 957px;

.steps{
    max-width: $maxw;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
    margin-bottom: 71px;
    &__item{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:last-child .steps__status::before{
            background-color: #fff;
        }
    }
    &__status{
        width: 48px;
        height: 48px;
        border: 8px solid #e1e1e1;
        display: inline-block;
        background-color: #fff;
        border-radius: 50%;
        margin-bottom: 20px;
        z-index: 2;
        position: relative;
        &::before{
            content: '';
            z-index: 1;
            position: absolute;
            width: 30%;
            height: 4px;
            background-color: #e1e1e1;
            display: inline-block;
            width: 30vw;
            margin: auto;
            top: 0;
            bottom: 0;
            left: calc(100% + 8px);
            
        }
        &.current{
            background-color: #e1e1e1;
        }
        &.completed{
            background-color: $violet;
            background-image: url('../img/check.svg');
            background-position: center center;
            background-repeat: no-repeat;
            border-color: $violet;
            &::before{
                background-color: $violet;
            }
        }
    }
}